= semantic_form_for [:admin, @ice_cream] do |f|
  = f.semantic_errors(*f.object.errors.attribute_names)
  
  = f.inputs do
    = f.input :name
    = f.input :fixed_price, input_html: { min: 0, step: 0.01 }

  = render 'nested_items_section', f: f, item_name: "Flavor", association_name: :ice_cream_flavors
  = render 'nested_items_section', f: f, item_name: "Topping", association_name: :ice_cream_toppings

  = f.actions do
    = f.action :submit, label: 'Save Ice Cream'
    = f.action :cancel, label: 'Cancel'