= semantic_form_for [:admin, @order], html: { data: { controller: 'nested-fields' } } do |f|
  = f.semantic_errors(*f.object.errors.attribute_names)
  
  = f.inputs do
    %table
      %thead
        %tr
          %th Product
          %th Quantity
          %th Discount Percent
          %th
      %tbody{ data: { nested_fields_target: 'container' } }
        = f.semantic_fields_for :line_items do |line_item|
          = render 'line_item_fields', f: line_item
      %tbody.template{ data: { nested_fields_target: "template" } }
        = render 'line_item_template'
    = link_to "Add Line Item", "#", class: "add-nested-field", data: { action: "nested-fields#add" }

    = f.actions do
      = f.action :submit, label: 'Save Order'
      = f.action :cancel, label: 'Cancel'